In [1]:
import pandas as pd
import numpy as np

In [3]:
df_medals = pd.read_excel('../data/winter-olympic-medals.xlsx')
df_medals.head()

,Year,Sport,Event,Country,Gender,Medal Rank,Medal,Name of Athlete or Team,Age of Athlete
0,1924,Bobsled,Men's Four/Five,Switzerland,Men,1,gold,Switzerland-1,NaN
1,1924,Bobsled,Men's Four/Five,Britain,Men,2,silver,Britain-1,NaN
2,1924,Bobsled,Men's Four/Five,Belgium,Men,3,bronze,Belgium-1,NaN
3,1924,Cross-Country Skiing,Men's 18 Kilometers,Norway,Men,1,gold,Thorleif Haug,29.0
4,1924,Cross-Country Skiing,Men's 18 Kilometers,Norway,Men,2,silver,Johan GrÃ¸ttumsbraaten,24.0

In [6]:
df_medals.columns

Index(['Year', 'Sport', 'Event', 'Country', 'Gender', 'Medal Rank', 'Medal',
       'Name of Athlete or Team', 'Age of Athlete'],
      dtype='object')

In [7]:
df_medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2865 entries, 0 to 2864
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     2865 non-null   int64
 1   Sport                    2865 non-null   object
 2   Event                    2865 non-null   object
 3   Country                  2865 non-null   object
 4   Gender                   2865 non-null   object
 5   Medal Rank               2865 non-null   int64
 6   Medal                    2865 non-null   object
 7   Name of Athlete or Team  2865 non-null   object
 8   Age of Athlete           2173 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 201.6+ KB

In [10]:
df_medals.describe()

              Year   Medal Rank  Age of Athlete
count  2865.000000  2865.000000     2173.000000
mean   1986.488656     1.995812       25.152324
std      23.489775     0.815773        4.271764
min    1924.000000     1.000000       14.000000
25%    1972.000000     1.000000       22.000000
50%    1992.000000     2.000000       25.000000
75%    2006.000000     3.000000       28.000000
max    2014.000000     3.000000       42.000000

In [14]:
df_medals.groupby('Gender').count()['Year']

Gender
Men      1711
Mixed     109
Women    1045
Name: Year, dtype: int64

## Questions

- Does the US have better female medal representation (% medals) than China? Russia? Iran? England?

- How did the % of female sports in the olympics change over time?

- Is there a country that has better female medal representation overall? 
        - Does China's dominance in female gymastics skew the results?